<mat-card class="regionselect" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="space-evenly center">
  <mat-form-field appearance="fill">
    <mat-label>Région</mat-label>
    <mat-select (selectionChange)="regionChange($event)">
      <mat-option *ngFor="let region of regions" [value]="region.name">
        {{region.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Logiciel</mat-label>
    <mat-select (selectionChange)="softwareChange($event)">
      <mat-option *ngFor="let software of softwares" [value]="software">
        {{software.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
