<mat-card class = "dateselect mat-elevation-z8" xLayout="row" fxLayoutGap="30px" fxLayoutAlign="space-evenly center" >

  <mat-form-field appearance="fill">
    <mat-label>Début </mat-label>
    <input matInput [matDatepicker]="datedeb">
    <mat-datepicker-toggle matSuffix [for]="datedeb"></mat-datepicker-toggle>
    <mat-datepicker #datedeb></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fin </mat-label>
    <input matInput [matDatepicker]="datefin">
    <mat-datepicker-toggle matSuffix [for]="datefin"></mat-datepicker-toggle>
    <mat-datepicker #datefin></mat-datepicker>
  </mat-form-field>

</mat-card>
